@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* START: General styles */
.flex-center {
  @apply flex items-center justify-center;
}
.flex-center-col {
  @apply flex flex-col items-center justify-center;
}
.full-page-center {
  @apply w-full h-screen flex items-center justify-center ;
}

.flex-between {
  @apply flex justify-between items-center;
}
 

/* Navbar */

.nav-container{
  @apply relative w-full h-16 bg-slate-200 flex-between px-8 border-b z-50 
}
.nav-toggle{
  @apply absolute fixed top-16 left-0 right-0 flex justify-center items-start md:hidden  bg-slate-200 p-4 border-t border-slate-400 shadow-[rgba(50,50,93,0.25)_0px_6px_12px_-2px,_rgba(0,0,0,0.3)_0px_3px_7px_-3px]
}

